## Configuration
_Initial steps to get the notebook ready to play nice with our repository. Do not delete this section._

Code formatting with [black](https://pypi.org/project/nb-black/).

In [1]:
%load_ext lab_black

In [2]:
import os
import pathlib

In [3]:
this_dir = pathlib.Path(os.path.abspath(""))

In [4]:
data_dir = this_dir / "data"

In [5]:
import re
import pytz
import glob
import requests
import unicodedata
import pandas as pd
from slugify import slugify
from bs4 import BeautifulSoup
from datetime import datetime, date

/Users/slee/.local/share/virtualenvs/california-coronavirus-scrapers-QTClc1WQ/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Download

Retrieve the page

In [6]:
url = "http://publichealth.lacounty.gov/media/Coronavirus/locations.htm"

In [7]:
page = requests.get(url)

## Parse

In [8]:
soup = BeautifulSoup(page.content, "html.parser")

Get content well

In [9]:
content = soup.find("div", {"id": "content"})

Get table

In [10]:
for tag in content.find_all(text=re.compile("CITY/COMMUNITY")):
    table = tag.findParent("table")

In [11]:
tbody = soup.tbody

In [12]:
row_list = tbody.find_all("tr")

In [13]:
dict_list = []

In [14]:
def safetxt(element):
    v = element.text.strip()
    v = v.replace("\u200b", "")
    return v

In [15]:
def safenumber(element):
    v = safetxt(element)
    v = v.replace(",", "")
    v = v.replace(" ", "")
    return v

In [16]:
for row in row_list:
    cell_content = row.find_all("td")
    d = dict(
        county="Los Angeles",
        area=safetxt(cell_content[0]),
        confirmed_cases=safenumber(cell_content[1]),
        confirmed_deaths=safenumber(cell_content[3]),
    )
    dict_list.append(d)

In [17]:
df = pd.DataFrame(dict_list)

Get timestamp

In [18]:
date_url = "http://publichealth.lacounty.gov/media/Coronavirus/js/casecounter.js"

In [19]:
response = requests.get(date_url)
date_page = response.text

In [20]:
date_page

'$( document ).ready(function() {\r\n    var data = {\r\n\t\t\t\t    "content": { \r\n\t\t\r\n\t\t\t"count": "3,577,685",\r\n\r\n\r\n\t\t\t"death": "34,296",\r\n\r\n\t\t\t"dailycount": "3,756",\r\n\r\n\r\n\t\t\t"dailydeath": "17",\r\n\t\t\t"hospitalizationsever": "162,287",\r\n\r\n\r\n\t\t\t"date": "12/9",\r\n\t\t\t"info": "through 12:00pm 12/8/2022",\r\n\r\n\t\t\t"testingaverage": "34,807",\r\n\r\n\t\t\t"peopletested": "12,761,505",\r\n\r\n\t\t\t"positivity": "12.22%",\r\n\r\n\t\t\t"hospitalizations": "1,243",\r\n\t\t\t"datehospitalizations": "12/8"\r\n\r\n\t\t\t\t}       \r\n\t\t\t\t};\t\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\tvar content = data.content;\r\n\t\t\t\t\r\n\t\t\t\t$(\'#ctn\').html(content.count);\r\n\t\t\t\t$(\'#det\').html(content.death);\r\n\t\t\t\t$(\'#dctn\').html(content.dailycount);\r\n\t\t\t\t$(\'#ddet\').html(content.dailydeath);\r\n\t\t\t\t$(\'#hosp_1\').html(content.hospitalizationsever);\r\n\t\t\t\t$(\'#dte\').html(content.date);\r\n\t\t\t\t$(\'#dte_1\').html(content.date);\r\n\t\t\t\t$(\'#dte_2\').html(content.date);\r\n\t\t\t\t$(\'#dte_3\').html(content.datehospitalizations);\r\n\t\t\t\t$(\'#cse\').html(content.info);\t\r\n\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t$(\'#tstavg\').html(content.testingaverage);\t\r\n\t\t\t\t$(\'#ppltst\').html(content.peopletested);\t\r\n\t\t\t\t$(\'#pos\').html(content.positivity);\t\r\n\t\t\t\t$(\'#hosp\').html(content.hospitalizations);\r\n\t\t\t\r\n\t\t\t\t\t\t\t\r\n\r\n\r\n});\r\n\r\n\r\n\r\n'

In [21]:
# date_text = re.search(r"([0-9][0-9]/[0-9][0-9])", date_page).group(1)
# date_text = date_text + "/" + str(date.today().year)

In [22]:
date_text = re.search(r"through (.+?)\"", date_page).group(1)

In [23]:
date_text = date_text.split("m ")[0]

In [24]:
latest_date = pd.to_datetime(date_text).date()

In [25]:
df["county_date"] = latest_date

In [26]:
df.loc[df.area == "-  Under Investigation", "area"] = "Under Investigation"

In [27]:
df.loc[df.area == "- Under Investigation", "area"] = "Under Investigation"

## Vet

In [30]:
len(df)

341

In [28]:
try:
    assert not len(df) > 342
except AssertionError:
    raise AssertionError("L.A. County's scraper has extra rows")

In [31]:
older = pd.read_csv("data/los-angeles/2022-12-06.csv")

In [ ]:
list(set().difference(list_1))

In [33]:
df

,county,area,confirmed_cases,confirmed_deaths,county_date
0,Los Angeles,City of Agoura Hills,6162,26,2022-12-12
1,Los Angeles,City of Alhambra,23791,283,2022-12-12
2,Los Angeles,City of Arcadia,12476,186,2022-12-12
3,Los Angeles,City of Artesia,5642,94,2022-12-12
4,Los Angeles,City of Avalon,66,0,2022-12-12
...,...,...,...,...,...
336,Los Angeles,Unincorporated - Whittier,934,10,2022-12-12
337,Los Angeles,Unincorporated - Whittier Narrows,69,1,2022-12-12
338,Los Angeles,Unincorporated - Willowbrook,16091,136,2022-12-12
339,Los Angeles,Unincorporated - Wiseburn,1805,16,2022-12-12
340,Los Angeles,Under Investigation,83435,126,2022-12-12

In [32]:
older

,county,area,confirmed_cases,confirmed_deaths,county_date
0,Los Angeles,City of Agoura Hills,6140,26,2022-12-06
1,Los Angeles,City of Alhambra,23657,283,2022-12-06
2,Los Angeles,City of Arcadia,12394,186,2022-12-06
3,Los Angeles,City of Artesia,5611,94,2022-12-06
4,Los Angeles,City of Avalon,66,0,2022-12-06
...,...,...,...,...,...
337,Los Angeles,Unincorporated - Whittier,931,10,2022-12-06
338,Los Angeles,Unincorporated - Whittier Narrows,69,1,2022-12-06
339,Los Angeles,Unincorporated - Willowbrook,16026,136,2022-12-06
340,Los Angeles,Unincorporated - Wiseburn,1800,16,2022-12-06
341,Los Angeles,Under Investigation,83119,125,2022-12-06

In [29]:
try:
    assert not len(df) < 342
except AssertionError:
    raise AssertionError("L.A. County's scraper is missing rows")

AssertionError: L.A. County's scraper is missing rows

## Export

Set the date

In [30]:
tz = pytz.timezone("America/Los_Angeles")

In [31]:
today = datetime.now(tz).date()

In [32]:
slug = "los-angeles"

In [33]:
df.to_csv(data_dir / slug / f"{today}.csv", index=False)

## Combine

In [34]:
csv_list = [
    i
    for i in glob.glob(str(data_dir / slug / "*.csv"))
    if not str(i).endswith("timeseries.csv")
]

In [35]:
df_list = []
for csv in csv_list:
    if "manual" in csv:
        df = pd.read_csv(csv, parse_dates=["date"])
    else:
        file_date = csv.split("/")[-1].replace(".csv", "")
        df = pd.read_csv(csv, parse_dates=["county_date"])
        df["date"] = file_date
    df_list.append(df)

In [36]:
df = pd.concat(df_list).sort_values(["date", "area"])

In [37]:
df.to_csv(data_dir / slug / "timeseries.csv", index=False)